# Project 1: Languages Spoken in the Homes of Minnesota Public School Students

## Contributors: Sam Espe, Yameena Khan, Maryam Osman, Nhan Tran (Group 7)

## Notebook 1: Data Cleaning and Exploration

### Import dependencies

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Read and clean data: read in CSVs, rename columns, drop unnecessary columns, split off yearly summary

In [2]:
primary_home_language_2007 = "data/2006-2007 Primary Home Language Totals.csv"
primary_home_language_2007_df = pd.read_csv(primary_home_language_2007)
primary_home_language_2007_rename_df = primary_home_language_2007_df.rename(columns = { "dat_yer" : "School Year", "district" : "District Name", "language" : "Language Name", "homprm_lng": "Home Primary Language", "k12count" : "Student Count" , "county" : "County Name", "stratanum" : "Strata Number", "strata" : "Strata Name"})
primary_home_language_2007_summary_df  = primary_home_language_2007_rename_df.drop(columns = ["sub_cde","dst_num","dst_tye","d_county","eco_dev"])
#primary_home_language_2007_summary_df

In [3]:
primary_home_language_2007_final_df = primary_home_language_2007_summary_df[~primary_home_language_2007_summary_df["Strata Number"].isna()]
#primary_home_language_2007_final_df

In [4]:
language_summary_2007_df = primary_home_language_2007_summary_df[primary_home_language_2007_summary_df["Strata Number"].isna()]
language_summary_2007_final_df = language_summary_2007_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2007_final_df

In [5]:
primary_home_language_2008 = "data/2007-2008 Primary Home Language Totals.csv"
primary_home_language_2008_df = pd.read_csv(primary_home_language_2008)
primary_home_language_2008_rename_df = primary_home_language_2008_df.rename(columns = { "fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "strata" : "Strata Number", "startaName" : "Strata Name"})
primary_home_language_2008_summary_df = primary_home_language_2008_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})

In [6]:
primary_home_language_2008_final_df = primary_home_language_2008_summary_df[~primary_home_language_2008_summary_df["Strata Number"].isna()]
#primary_home_language_2008_final_df

In [7]:
language_summary_2008_df = primary_home_language_2008_summary_df[primary_home_language_2008_summary_df["Strata Number"].isna()]
language_summary_2008_final_df = language_summary_2008_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2008_final_df

In [69]:
primary_home_language_2009 = "data/2008-2009 Primary Home Language Totals.csv"
primary_home_language_2009_df = pd.read_csv(primary_home_language_2009)
primary_home_language_2009_rename_df = primary_home_language_2009_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "county" : "County", "CountyName": "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2009_summary_df = primary_home_language_2009_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2009_summary_df

In [70]:
primary_home_language_2009_final_df = primary_home_language_2009_summary_df[~primary_home_language_2009_summary_df['Strata Number'].isnull()]
primary_home_language_2009_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,08-09,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1263,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,08-09,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,HMONG,20,1785,Hennepin,1.0,Minneapolis and Saint Paul
3,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,TIGRINYA,71,2,Hennepin,1.0,Minneapolis and Saint Paul
4,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,SLAVONIAN,44,1,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3506,08-09,NORTHLAND LEARNING CENTER,ENGLISH,11,110,St. Louis,6.0,Outstate - Enrollment less than 500
3507,08-09,RUM RIVER SPECIAL EDUCATION COOP,ENGLISH,11,55,Isanti,6.0,Outstate - Enrollment less than 500
3508,08-09,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,35,Stearns,6.0,Outstate - Enrollment less than 500
3509,08-09,BENTON-STEARNS ED. DISTRICT,HMONG,20,1,Stearns,6.0,Outstate - Enrollment less than 500
3510,08-09,MID STATE EDUCATION DISTRICT,ENGLISH,11,34,Morrison,6.0,Outstate - Enrollment less than 500

In [71]:
language_summary_2009_df = primary_home_language_2009_summary_df[primary_home_language_2009_summary_df["Strata Number"].isna()]
language_summary_2009_final_df = language_summary_2009_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2009_final_df

In [11]:
primary_home_language_2010 = "data/2009-2010 Primary Home Language Totals.csv"
primary_home_language_2010_df = pd.read_csv(primary_home_language_2010)
primary_home_language_2010_rename_df = primary_home_language_2010_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2010_summary_df = primary_home_language_2010_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2010_summary_df

In [12]:
primary_home_language_2010_final_df = primary_home_language_2010_summary_df[~primary_home_language_2010_summary_df["Strata Number"].isna()]
#primary_home_language_2010_final_df

In [13]:
language_summary_2010_df = primary_home_language_2010_summary_df[primary_home_language_2010_summary_df["Strata Number"].isna()]
language_summary_2010_final_df = language_summary_2010_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2010_final_df

In [14]:
primary_home_language_2011 = "data/2010_2011 Primary Home Language Totals.csv"
primary_home_language_2011_df = pd.read_csv(primary_home_language_2011)
primary_home_language_2011_rename_df = primary_home_language_2011_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2011_summary_df = primary_home_language_2011_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2011_summary_df

In [15]:
primary_home_language_2011_final_df = primary_home_language_2011_summary_df[~primary_home_language_2011_summary_df["Strata Number"].isna()]
#primary_home_language_2011_final_df

In [16]:
language_summary_2011_df = primary_home_language_2011_summary_df[primary_home_language_2011_summary_df["Strata Number"].isna()]
language_summary_2011_final_df = language_summary_2011_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2011_final_df

In [17]:
primary_home_language_2012 = "data/2011-2012 Primary Home Language Totals.csv"
primary_home_language_2012_df = pd.read_csv(primary_home_language_2012)
primary_home_language_2012_rename_df = primary_home_language_2012_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2012_summary_df = primary_home_language_2012_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2012_summary_df

In [18]:
primary_home_language_2012_final_df = primary_home_language_2012_summary_df[~primary_home_language_2012_summary_df["Strata Number"].isna()]
#primary_home_language_2012_final_df

In [19]:
language_summary_2012_df = primary_home_language_2012_summary_df[primary_home_language_2012_summary_df["Strata Number"].isna()]
language_summary_2012_final_df = language_summary_2012_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2012_final_df

In [20]:
primary_home_language_2013 = "data/2012-13 Primary Home Language Totals.csv"
primary_home_language_2013_df = pd.read_csv(primary_home_language_2013)
primary_home_language_2013_rename_df = primary_home_language_2013_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2013_summary_df =  primary_home_language_2013_rename_df.drop(columns  = {"District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2013_summary_df

In [21]:
primary_home_language_2013_final_df = primary_home_language_2013_summary_df[~primary_home_language_2013_summary_df["Strata Number"].isna()]
#primary_home_language_2013_final_df

In [22]:
language_summary_2013_df = primary_home_language_2013_summary_df[primary_home_language_2013_summary_df["Strata Number"].isna()]
language_summary_2013_final_df = language_summary_2013_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2013_final_df

In [23]:
primary_home_language_2014 = "data/2013-2014 Primary Home Language Totals.csv"
primary_home_language_2014_df = pd.read_csv(primary_home_language_2014)
primary_home_language_2014_rename_df = primary_home_language_2014_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2014_summary_df = primary_home_language_2014_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2014_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,13-14,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1231,4.0,Outstate - Enrollment between 1000 and 1999
1,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Cebuano, Visayan, Binisaya",36,12,1.0,Minneapolis and Saint Paul
2,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Polish,37,3,1.0,Minneapolis and Saint Paul
3,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,9,1.0,Minneapolis and Saint Paul
4,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Portuguese,38,3,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4686,13-14,STATEWIDE,Tonga,168,4,NaN,NaN
4687,13-14,STATEWIDE,Marathi,116,67,NaN,NaN
4688,13-14,STATEWIDE,Palauan,336,1,NaN,NaN
4689,13-14,STATEWIDE,Dutch,33,85,NaN,NaN
4690,13-14,STATEWIDE,Haitian Creole,85,37,NaN,NaN

In [24]:
primary_home_language_2014_final_df = primary_home_language_2014_summary_df[~primary_home_language_2014_summary_df["Strata Number"].isna()]
#primary_home_language_2014_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,13-14,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1231,4.0,Outstate - Enrollment between 1000 and 1999
1,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Cebuano, Visayan, Binisaya",36,12,1.0,Minneapolis and Saint Paul
2,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Polish,37,3,1.0,Minneapolis and Saint Paul
3,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Indonesian, Bahasa Indonesian",32,9,1.0,Minneapolis and Saint Paul
4,13-14,MINNEAPOLIS PUBLIC SCHOOL DIST.,Portuguese,38,3,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4450,13-14,SOUTHWEST METRO EDUCATIONAL COOP,"Lao, Laotian",28,1,2.0,County Metro Area excluding MPLS/STP
4451,13-14,SOUTHWEST METRO EDUCATIONAL COOP,English,11,244,2.0,County Metro Area excluding MPLS/STP
4452,13-14,SOUTHWEST METRO EDUCATIONAL COOP,Spanish,45,25,2.0,County Metro Area excluding MPLS/STP
4453,13-14,BENTON-STEARNS ED. DISTRICT,English,11,45,6.0,Outstate - Enrollment less than 500
4454,13-14,MID STATE EDUCATION DISTRICT,English,11,47,6.0,Outstate - Enrollment less than 500

In [25]:
language_summary_2014_df = primary_home_language_2014_summary_df[primary_home_language_2014_summary_df["Strata Number"].isna()]
language_summary_2014_final_df = language_summary_2014_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2014_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,13-14,STATEWIDE,Igbo,65,169
1,13-14,STATEWIDE,Ngumba,408,3
2,13-14,STATEWIDE,German,17,440
3,13-14,STATEWIDE,Gujarati,112,109
4,13-14,STATEWIDE,Adangme,83,127
...,...,...,...,...,...
231,13-14,STATEWIDE,Tonga,168,4
232,13-14,STATEWIDE,Marathi,116,67
233,13-14,STATEWIDE,Palauan,336,1
234,13-14,STATEWIDE,Dutch,33,85
235,13-14,STATEWIDE,Haitian Creole,85,37

In [26]:
primary_home_language_2015 = "data/2014-2015 Primary Home Language Totals.csv"
primary_home_language_2015_df = pd.read_csv(primary_home_language_2015)
primary_home_language_2015_rename_df = primary_home_language_2015_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2015_summary_df = primary_home_language_2015_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2015_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,14-15,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1184,4.0,Outstate - Enrollment between 1000 and 1999
1,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Swedish,46,4,1.0,Minneapolis and Saint Paul
2,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70,11,1.0,Minneapolis and Saint Paul
3,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2,52,1.0,Minneapolis and Saint Paul
4,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41,10,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4790,14-15,STATEWIDE,Faroese,230,1,NaN,NaN
4791,14-15,STATEWIDE,Assamese,182,9,NaN,NaN
4792,14-15,STATEWIDE,Breton,201,1,NaN,NaN
4793,14-15,STATEWIDE,Hmong,20,19889,NaN,NaN
4794,14-15,STATEWIDE,Samoan,56,30,NaN,NaN

In [27]:
primary_home_language_2015_final_df = primary_home_language_2015_summary_df[~primary_home_language_2015_summary_df["Strata Number"].isna()]
#primary_home_language_2015_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,14-15,AITKIN PUBLIC SCHOOL DISTRICT,English,11,1184,4.0,Outstate - Enrollment between 1000 and 1999
1,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Swedish,46,4,1.0,Minneapolis and Saint Paul
2,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70,11,1.0,Minneapolis and Saint Paul
3,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Arabic,2,52,1.0,Minneapolis and Saint Paul
4,14-15,MINNEAPOLIS PUBLIC SCHOOL DIST.,Bosnian,41,10,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4552,14-15,SOUTHWEST METRO EDUCATIONAL COOP,Spanish,45,27,2.0,County Metro Area excluding MPLS/STP
4553,14-15,SOUTHWEST METRO EDUCATIONAL COOP,English,11,204,2.0,County Metro Area excluding MPLS/STP
4554,14-15,SOUTHWEST METRO EDUCATIONAL COOP,"Lao, Laotian",28,1,2.0,County Metro Area excluding MPLS/STP
4555,14-15,BENTON-STEARNS ED. DISTRICT,English,11,42,6.0,Outstate - Enrollment less than 500
4556,14-15,MID STATE EDUCATION DISTRICT,English,11,35,6.0,Outstate - Enrollment less than 500

In [28]:
language_summary_2015_df = primary_home_language_2015_summary_df[primary_home_language_2015_summary_df["Strata Number"].isna()]
language_summary_2015_final_df = language_summary_2015_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2015_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,14-15,STATEWIDE,"Sarakole, Soninke",355,11
1,14-15,STATEWIDE,Malayalam,115,126
2,14-15,STATEWIDE,Belle,195,1
3,14-15,STATEWIDE,Slovene,44,4
4,14-15,STATEWIDE,Icelandic,22,10
...,...,...,...,...,...
233,14-15,STATEWIDE,Faroese,230,1
234,14-15,STATEWIDE,Assamese,182,9
235,14-15,STATEWIDE,Breton,201,1
236,14-15,STATEWIDE,Hmong,20,19889
237,14-15,STATEWIDE,Samoan,56,30

In [29]:
primary_home_language_2016 = "data/2015-2016 Primary Home Language Totals.csv"
primary_home_language_2016_df = pd.read_csv(primary_home_language_2016)
primary_home_language_2016_rename_df = primary_home_language_2016_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2016_summary_df = primary_home_language_2016_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2016_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,15-16,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1187.0,4.0,Outstate - Enrollment between 1000 and 1999
1,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70.0,15.0,1.0,Minneapolis and Saint Paul
2,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Czech,4.0,2.0,1.0,Minneapolis and Saint Paul
3,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Spanish,45.0,5435.0,1.0,Minneapolis and Saint Paul
4,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Romanian,39.0,2.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5005,15-16,STATEWIDE,Estonian,12.0,30.0,NaN,NaN
5006,15-16,STATEWIDE,Tigre,145.0,16.0,NaN,NaN
5007,15-16,STATEWIDE,Latvian,29.0,27.0,NaN,NaN
5008,15-16,STATEWIDE,Czech,4.0,19.0,NaN,NaN
5009,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
primary_home_language_2016_final_df = primary_home_language_2016_summary_df[~primary_home_language_2016_summary_df["Strata Number"].isna()]
#primary_home_language_2016_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,15-16,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1187.0,4.0,Outstate - Enrollment between 1000 and 1999
1,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,"Swahili, Kiswahili",70.0,15.0,1.0,Minneapolis and Saint Paul
2,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Czech,4.0,2.0,1.0,Minneapolis and Saint Paul
3,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Spanish,45.0,5435.0,1.0,Minneapolis and Saint Paul
4,15-16,MINNEAPOLIS PUBLIC SCHOOL DIST.,Romanian,39.0,2.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4754,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,Korean,26.0,1.0,6.0,Outstate - Enrollment less than 500
4755,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,"Swahili, Kiswahili",70.0,1.0,6.0,Outstate - Enrollment less than 500
4756,15-16,SHERBURNE AND NORTHERN WRIGHT SPECI,English,11.0,87.0,6.0,Outstate - Enrollment less than 500
4757,15-16,BENTON-STEARNS ED. DISTRICT,English,11.0,49.0,6.0,Outstate - Enrollment less than 500
4758,15-16,MID STATE EDUCATION DISTRICT,English,11.0,42.0,6.0,Outstate - Enrollment less than 500

In [32]:
language_summary_2016_df = primary_home_language_2016_summary_df[primary_home_language_2016_summary_df["Strata Number"].isna()]
language_summary_2016_final_df = language_summary_2016_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2016_final_df

In [33]:
primary_home_language_2017 = "data/2016-2017 Primary Home Language Totals.csv"
primary_home_language_2017_df = pd.read_csv(primary_home_language_2017)
primary_home_language_2017_rename_df = primary_home_language_2017_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2017_summary_df = primary_home_language_2017_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2017_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,16-17,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
1,16-17,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1142.0,4.0,Outstate - Enrollment between 1000 and 1999
2,16-17,Minneapolis Public School District,Ga,160.0,2.0,1.0,Minneapolis and Saint Paul
3,16-17,Minneapolis Public School District,Bengali,10.0,28.0,1.0,Minneapolis and Saint Paul
4,16-17,Minneapolis Public School District,Krahn,281.0,1.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5172,16-17,STATEWIDE,Anaang,179.0,1.0,NaN,NaN
5173,16-17,STATEWIDE,Bengali,10.0,662.0,NaN,NaN
5174,16-17,STATEWIDE,Konkani,114.0,13.0,NaN,NaN
5175,16-17,STATEWIDE,Croatian,127.0,14.0,NaN,NaN
5176,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
primary_home_language_2017_final_df = primary_home_language_2017_summary_df[~primary_home_language_2017_summary_df["Strata Number"].isna()]
#primary_home_language_2017_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,16-17,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
1,16-17,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1142.0,4.0,Outstate - Enrollment between 1000 and 1999
2,16-17,Minneapolis Public School District,Ga,160.0,2.0,1.0,Minneapolis and Saint Paul
3,16-17,Minneapolis Public School District,Bengali,10.0,28.0,1.0,Minneapolis and Saint Paul
4,16-17,Minneapolis Public School District,Krahn,281.0,1.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
4919,16-17,Cannon Valley Special Education Coo,English,11.0,75.0,6.0,Outstate - Enrollment less than 500
4920,16-17,Austin Albert Lea Area Special Educ,Spanish,45.0,3.0,6.0,Outstate - Enrollment less than 500
4921,16-17,Austin Albert Lea Area Special Educ,English,11.0,39.0,6.0,Outstate - Enrollment less than 500
4922,16-17,BENTON-STEARNS ED. DISTRICT,English,11.0,44.0,6.0,Outstate - Enrollment less than 500
4923,16-17,MID STATE EDUCATION DISTRICT,English,11.0,40.0,6.0,Outstate - Enrollment less than 500

In [35]:
language_summary_2017_df = primary_home_language_2017_summary_df[primary_home_language_2017_summary_df["Strata Number"].isna()]
language_summary_2017_final_df = language_summary_2017_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2017_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,16-17,STATEWIDE,Karen,129.0,3644.0
1,16-17,STATEWIDE,Russian,40.0,2464.0
2,16-17,STATEWIDE,Mano. Mah,297.0,8.0
3,16-17,STATEWIDE,Arabic,2.0,2842.0
4,16-17,STATEWIDE,Nyanga,167.0,2.0
...,...,...,...,...,...
247,16-17,STATEWIDE,Cantonese,108.0,84.0
248,16-17,STATEWIDE,Anaang,179.0,1.0
249,16-17,STATEWIDE,Bengali,10.0,662.0
250,16-17,STATEWIDE,Konkani,114.0,13.0
251,16-17,STATEWIDE,Croatian,127.0,14.0

In [36]:
primary_home_language_2018 = "data/2017-18 Primary Home Language Totals.csv"
primary_home_language_2018_df = pd.read_csv(primary_home_language_2018)
primary_home_language_2018_rename_df = primary_home_language_2018_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2018_summary_df =  primary_home_language_2018_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2018_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,17-18,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,17-18,Aitkin Public School District,English,11.0,1160.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,17-18,Minneapolis Public School District,Tamil,118.0,5.0,Hennepin,1.0,Minneapolis and Saint Paul (MPLS/STP)
3,17-18,Minneapolis Public School District,"Swahili, Kiswahili",70.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
4,17-18,Minneapolis Public School District,Maay,100.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5423,17-18,Statewide,Ngumba,408.0,6.0,NaN,NaN,NaN
5424,17-18,Statewide,Cherokee,207.0,1.0,NaN,NaN,NaN
5425,17-18,Statewide,Kwanyama,285.0,1.0,NaN,NaN,NaN
5426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
primary_home_language_2018_final_df = primary_home_language_2018_summary_df[~primary_home_language_2018_summary_df["Strata Number"].isna()]
#primary_home_language_2018_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,17-18,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,17-18,Aitkin Public School District,English,11.0,1160.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,17-18,Minneapolis Public School District,Tamil,118.0,5.0,Hennepin,1.0,Minneapolis and Saint Paul (MPLS/STP)
3,17-18,Minneapolis Public School District,"Swahili, Kiswahili",70.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
4,17-18,Minneapolis Public School District,Maay,100.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5160,17-18,Austin Albert Lea Area Special Education Coope...,English,11.0,50.0,Mower,6.0,Outstate - Enrollment less than 500
5161,17-18,Austin Albert Lea Area Special Education Coope...,Spanish,45.0,2.0,Mower,6.0,Outstate - Enrollment less than 500
5162,17-18,Northern Lights Academy Cooperative,English,11.0,16.0,Carlton,6.0,Outstate - Enrollment less than 500
5163,17-18,Benton-Stearns Education District,English,11.0,51.0,Stearns,6.0,Outstate - Enrollment less than 500
5164,17-18,Mid State Education District,English,11.0,47.0,Morrison,6.0,Outstate - Enrollment less than 500

In [38]:
language_summary_2018_df = primary_home_language_2018_summary_df[primary_home_language_2018_summary_df["Strata Number"].isna()]
language_summary_2018_final_df = language_summary_2018_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2018_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,17-18,Statewide,"Portuguese, creolized",342.0,4.0
1,17-18,Statewide,Kalenjin,260.0,5.0
2,17-18,Statewide,"Tem, Cocotoli (Kokotoli), Temba, Tim, Timu",421.0,4.0
3,17-18,Statewide,Okinawan,123.0,3.0
4,17-18,Statewide,Khasi,268.0,1.0
...,...,...,...,...,...
256,17-18,Statewide,Telugu,119.0,1119.0
257,17-18,Statewide,"Cham, Eastern",105.0,2.0
258,17-18,Statewide,Ngumba,408.0,6.0
259,17-18,Statewide,Cherokee,207.0,1.0
260,17-18,Statewide,Kwanyama,285.0,1.0

In [39]:
primary_home_language_2019 = "data/2018-19 Primary Home Language Totals.csv"
primary_home_language_2019_df = pd.read_csv(primary_home_language_2019)
primary_home_language_2019_rename_df = primary_home_language_2019_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2019_summary_df = primary_home_language_2019_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2019_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45.0,1.0,4.0,Outstate - Enrollment between 1000 and 1999
1,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
2,18-19,AITKIN PUBLIC SCHOOL DISTRICT,German,17.0,3.0,4.0,Outstate - Enrollment between 1000 and 1999
3,18-19,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1163.0,4.0,Outstate - Enrollment between 1000 and 1999
4,18-19,Minneapolis Public School District,Yoruba,75.0,3.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5697,18-19,STATEWIDE,Haitian Creole,85.0,53.0,NaN,NaN
5698,18-19,STATEWIDE,Bosnian,41.0,427.0,NaN,NaN
5699,18-19,STATEWIDE,Dakota,8.0,50.0,NaN,NaN
5700,18-19,STATEWIDE,Kashmiri,265.0,2.0,NaN,NaN
5701,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
primary_home_language_2019_final_df = primary_home_language_2019_summary_df[~primary_home_language_2019_summary_df["Strata Number"].isna()]
#primary_home_language_2019_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,Strata Number,Strata Name
0,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Spanish,45.0,1.0,4.0,Outstate - Enrollment between 1000 and 1999
1,18-19,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,4.0,Outstate - Enrollment between 1000 and 1999
2,18-19,AITKIN PUBLIC SCHOOL DISTRICT,German,17.0,3.0,4.0,Outstate - Enrollment between 1000 and 1999
3,18-19,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1163.0,4.0,Outstate - Enrollment between 1000 and 1999
4,18-19,Minneapolis Public School District,Yoruba,75.0,3.0,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...
5397,18-19,Austin Albert Lea Area Special Educ,Spanish,45.0,2.0,6.0,Outstate - Enrollment less than 500
5398,18-19,Austin Albert Lea Area Special Educ,English,11.0,46.0,6.0,Outstate - Enrollment less than 500
5399,18-19,Northern Lights Academy Cooperative,English,11.0,23.0,6.0,Outstate - Enrollment less than 500
5400,18-19,BENTON-STEARNS ED. DISTRICT,English,11.0,54.0,6.0,Outstate - Enrollment less than 500
5401,18-19,MID STATE EDUCATION DISTRICT,English,11.0,40.0,6.0,Outstate - Enrollment less than 500

In [41]:
language_summary_2019_df = primary_home_language_2019_summary_df[primary_home_language_2019_summary_df["Strata Number"].isna()]
language_summary_2019_final_df = language_summary_2019_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2019_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,18-19,STATEWIDE,Mon,316.0,28.0
1,18-19,STATEWIDE,Igbo,65.0,163.0
2,18-19,STATEWIDE,Udmurt,382.0,1.0
3,18-19,STATEWIDE,Bemba,98.0,2.0
4,18-19,STATEWIDE,Kabyle,78.0,8.0
...,...,...,...,...,...
294,18-19,STATEWIDE,Mongolian,25.0,10.0
295,18-19,STATEWIDE,Haitian Creole,85.0,53.0
296,18-19,STATEWIDE,Bosnian,41.0,427.0
297,18-19,STATEWIDE,Dakota,8.0,50.0
298,18-19,STATEWIDE,Kashmiri,265.0,2.0

In [42]:
primary_home_language_2020 = "data/2019-20 Primary Home Language Totals.csv"
primary_home_language_2020_df = pd.read_csv(primary_home_language_2020)
primary_home_language_2020_rename_df = primary_home_language_2020_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2020_summary_df =  primary_home_language_2020_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2020_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,19-20,Aitkin Public School District,Italian,23.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,19-20,Aitkin Public School District,"Serbian, Herzegovnian, Montenegrin",128.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,19-20,Aitkin Public School District,English,11.0,1149.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,19-20,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,19-20,Aitkin Public School District,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
...,...,...,...,...,...,...,...,...
5963,19-20,Statewide,Bugis,202.0,1.0,NaN,NaN,NaN
5964,19-20,Statewide,Palauan,336.0,8.0,NaN,NaN,NaN
5965,19-20,Statewide,Pahlavani,335.0,2.0,NaN,NaN,NaN
5966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
primary_home_language_2020_final_df = primary_home_language_2020_summary_df[~primary_home_language_2020_summary_df["Strata Number"].isna()]
#primary_home_language_2020_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,19-20,Aitkin Public School District,Italian,23.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,19-20,Aitkin Public School District,"Serbian, Herzegovnian, Montenegrin",128.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,19-20,Aitkin Public School District,English,11.0,1149.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,19-20,Aitkin Public School District,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,19-20,Aitkin Public School District,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
...,...,...,...,...,...,...,...,...
5649,19-20,Austin Albert Lea Area Special Education Coope...,English,11.0,34.0,Mower,6.0,Outstate - Enrollment less than 500
5650,19-20,Austin Albert Lea Area Special Education Coope...,Spanish,45.0,1.0,Mower,6.0,Outstate - Enrollment less than 500
5651,19-20,Northern Lights Academy Cooperative,English,11.0,29.0,Carlton,6.0,Outstate - Enrollment less than 500
5652,19-20,Benton-Stearns Education District,English,11.0,58.0,Stearns,6.0,Outstate - Enrollment less than 500
5653,19-20,Mid State Education District,English,11.0,50.0,Morrison,6.0,Outstate - Enrollment less than 500

In [44]:
language_summary_2020_df = primary_home_language_2020_summary_df[primary_home_language_2020_summary_df["Strata Number"].isna()]
language_summary_2020_final_df = language_summary_2020_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2020_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,19-20,Statewide,Quichua,170.0,50.0
1,19-20,Statewide,Guarani,153.0,3.0
2,19-20,Statewide,Duala,224.0,5.0
3,19-20,Statewide,Mandar,301.0,6.0
4,19-20,Statewide,Maay,100.0,6.0
...,...,...,...,...,...
307,19-20,Statewide,Tamil,118.0,880.0
308,19-20,Statewide,Swedish,46.0,68.0
309,19-20,Statewide,Bugis,202.0,1.0
310,19-20,Statewide,Palauan,336.0,8.0
311,19-20,Statewide,Pahlavani,335.0,2.0

In [45]:
primary_home_language_2021 = "data/2020-21 Primary Home Language Totals.csv"
primary_home_language_2021_df = pd.read_csv(primary_home_language_2021)
primary_home_language_2021_rename_df = primary_home_language_2021_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2021_summary_df =  primary_home_language_2021_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2021_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,20-21,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1104.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,20-21,Minneapolis Public School District,Sarakole,355.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
4,20-21,Minneapolis Public School District,"Khmer, Cambodian",5.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
6020,20-21,STATEWIDE,Abkhazian,171.0,10.0,,NaN,NaN
6021,20-21,STATEWIDE,Shan,130.0,4.0,,NaN,NaN
6022,20-21,STATEWIDE,Nyanja,330.0,4.0,,NaN,NaN
6023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
primary_home_language_2021_final_df = primary_home_language_2021_summary_df[~primary_home_language_2021_summary_df["Strata Number"].isna()]
#primary_home_language_2021_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,20-21,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,20-21,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1104.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,20-21,Minneapolis Public School District,Sarakole,355.0,1.0,Hennepin,1.0,Minneapolis and Saint Paul
4,20-21,Minneapolis Public School District,"Khmer, Cambodian",5.0,15.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5695,20-21,Austin Albert Lea Area Special Educ,English,11.0,38.0,Mower,6.0,Outstate - Enrollment less than 500
5696,20-21,Austin Albert Lea Area Special Educ,Spanish,45.0,2.0,Mower,6.0,Outstate - Enrollment less than 500
5697,20-21,Northern Lights Academy Cooperative,English,11.0,19.0,Carlton,6.0,Outstate - Enrollment less than 500
5698,20-21,Benton-Stearns Education District,English,11.0,59.0,Stearns,6.0,Outstate - Enrollment less than 500
5699,20-21,MID STATE EDUCATION DISTRICT,English,11.0,42.0,Morrison,6.0,Outstate - Enrollment less than 500

In [47]:
language_summary_2021_df = primary_home_language_2021_summary_df[primary_home_language_2021_summary_df["Strata Number"].isna()]
language_summary_2021_final_df = language_summary_2021_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2021_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,20-21,STATEWIDE,Quechua,80.0,23.0
1,20-21,STATEWIDE,Saami,350.0,13.0
2,20-21,STATEWIDE,Susu,364.0,8.0
3,20-21,STATEWIDE,Anaang,179.0,1.0
4,20-21,STATEWIDE,Erzya,227.0,2.0
...,...,...,...,...,...
318,20-21,STATEWIDE,Kpelle,148.0,13.0
319,20-21,STATEWIDE,Haitian Creole,85.0,53.0
320,20-21,STATEWIDE,Abkhazian,171.0,10.0
321,20-21,STATEWIDE,Shan,130.0,4.0
322,20-21,STATEWIDE,Nyanja,330.0,4.0

In [48]:
primary_home_language_2022 = "data/2021-22 Primary Home Language Totals.csv"
primary_home_language_2022_df = pd.read_csv(primary_home_language_2022)
primary_home_language_2022_rename_df = primary_home_language_2022_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2022_summary_df =  primary_home_language_2022_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2022_summary_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,21-22,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1038.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Estonian,12.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,21-22,Minneapolis Public School District,Afrikaans,1.0,3.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
6285,21-22,STATEWIDE,Dagari,443.0,1.0,,NaN,NaN
6286,21-22,STATEWIDE,Chukeese,444.0,1.0,,NaN,NaN
6287,21-22,STATEWIDE,Eleme,447.0,1.0,,NaN,NaN
6288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
primary_home_language_2022_final_df = primary_home_language_2022_summary_df[~primary_home_language_2022_summary_df["Strata Number"].isna()]
#primary_home_language_2022_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Arabic,2.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,21-22,AITKIN PUBLIC SCHOOL DISTRICT,English,11.0,1038.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Estonian,12.0,2.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
3,21-22,AITKIN PUBLIC SCHOOL DISTRICT,Bisaya,417.0,1.0,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
4,21-22,Minneapolis Public School District,Afrikaans,1.0,3.0,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
5939,21-22,Austin Albert Lea Area Special Educ,Karen,129.0,1.0,Mower,6.0,Outstate - Enrollment less than 500
5940,21-22,Northern Lights Academy Cooperative,English,11.0,27.0,Carlton,6.0,Outstate - Enrollment less than 500
5941,21-22,Up North Learning Center,English,11.0,5.0,Cass,6.0,Outstate - Enrollment less than 500
5942,21-22,Benton-Stearns Education District,English,11.0,58.0,Stearns,6.0,Outstate - Enrollment less than 500
5943,21-22,MID STATE EDUCATION DISTRICT,English,11.0,40.0,Morrison,6.0,Outstate - Enrollment less than 500

In [50]:
language_summary_2022_df = primary_home_language_2022_summary_df[primary_home_language_2022_summary_df["Strata Number"].isna()]
language_summary_2022_final_df = language_summary_2022_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2022_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,21-22,STATEWIDE,Afrikaans,1.0,165.0
1,21-22,STATEWIDE,Arabic,2.0,3253.0
2,21-22,STATEWIDE,Armenian,3.0,27.0
3,21-22,STATEWIDE,Czech,4.0,29.0
4,21-22,STATEWIDE,"Khmer, Cambodian",5.0,1329.0
...,...,...,...,...,...
339,21-22,STATEWIDE,Apache,436.0,2.0
340,21-22,STATEWIDE,Jakalteko,442.0,2.0
341,21-22,STATEWIDE,Dagari,443.0,1.0
342,21-22,STATEWIDE,Chukeese,444.0,1.0
343,21-22,STATEWIDE,Eleme,447.0,1.0

### Merge yearly dataframes

In [80]:
complete_primary_home_language = pd.concat([primary_home_language_2007_final_df, primary_home_language_2008_final_df, primary_home_language_2009_final_df, primary_home_language_2010_final_df, primary_home_language_2011_final_df, primary_home_language_2012_final_df, primary_home_language_2013_final_df, primary_home_language_2014_final_df, primary_home_language_2015_final_df, primary_home_language_2016_final_df, primary_home_language_2017_final_df, primary_home_language_2018_final_df, primary_home_language_2019_final_df, primary_home_language_2020_final_df, primary_home_language_2021_final_df, primary_home_language_2022_final_df]).reset_index(drop = True)

complete_primary_home_language

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,06-07,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11.0,1318.0,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
1,06-07,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45.0,2.0,AITKIN,4.0,Outstate - Enrollment between 1000 and 1999
2,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFGHAN,60.0,3.0,HENNEPIN,1.0,Minneapolis and Saint Paul
3,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1.0,4.0,HENNEPIN,1.0,Minneapolis and Saint Paul
4,06-07,MINNEAPOLIS PUBLIC SCHOOL DIST.,AMERICAN INDIAN,6.0,1.0,HENNEPIN,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
72563,21-22,Austin Albert Lea Area Special Educ,Karen,129.0,1.0,Mower,6.0,Outstate - Enrollment less than 500
72564,21-22,Northern Lights Academy Cooperative,English,11.0,27.0,Carlton,6.0,Outstate - Enrollment less than 500
72565,21-22,Up North Learning Center,English,11.0,5.0,Cass,6.0,Outstate - Enrollment less than 500
72566,21-22,Benton-Stearns Education District,English,11.0,58.0,Stearns,6.0,Outstate - Enrollment less than 500
72567,21-22,MID STATE EDUCATION DISTRICT,English,11.0,40.0,Morrison,6.0,Outstate - Enrollment less than 500

### Merge summary dataframes

In [84]:
complete_language_summary = pd.concat([language_summary_2007_final_df, language_summary_2008_final_df, language_summary_2009_final_df, language_summary_2010_final_df, language_summary_2011_final_df, language_summary_2012_final_df, language_summary_2013_final_df, language_summary_2014_final_df, language_summary_2015_final_df, language_summary_2016_final_df, language_summary_2017_final_df, language_summary_2018_final_df, language_summary_2019_final_df, language_summary_2020_final_df, language_summary_2021_final_df, language_summary_2022_final_df]).reset_index(drop = True)

complete_language_summary

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,06-07,Statewide Totals,ADANGME,83.0,121.0
1,06-07,Statewide Totals,AFGHAN,60.0,21.0
2,06-07,Statewide Totals,AFRIKAANS,1.0,525.0
3,06-07,Statewide Totals,ALBANIAN,72.0,42.0
4,06-07,Statewide Totals,AMERICAN INDIAN,6.0,27.0
...,...,...,...,...,...
3475,21-22,STATEWIDE,Apache,436.0,2.0
3476,21-22,STATEWIDE,Jakalteko,442.0,2.0
3477,21-22,STATEWIDE,Dagari,443.0,1.0
3478,21-22,STATEWIDE,Chukeese,444.0,1.0
3479,21-22,STATEWIDE,Eleme,447.0,1.0

## Data Reduction and Analysis

# *Yameena's Code Starts Here!*

### Unique Languages by Year

### Distribution of Languages by Year

# *Maryam's Code Starts Here!*

### Distribution of Languages by Geography

# *Sam's Code Starts Here!*

### Graphs of Languages Over Time

### Map of distribution of Languages?????

# *Nhan's Code Starts Here!*

### Linear Regression to Predict Proportion of Households that Speak Non-English Languages