In [2]:
import pandas as pd 
import numpy as np

In [6]:
# File to load
primary_home_language_2007 = "data/2006-2007 Primary Home Language Totals.csv"

primary_home_language_2007_df = pd.read_csv(primary_home_language_2007)
primary_home_language_2007_df

,sub_cde,dat_yer,dst_num,dst_tye,district,language,homprm_lng,k12count,d_county,county,eco_dev,stratanum,strata
0,F,06-07,1,1,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1318,1.0,AITKIN,03,4.0,Outstate - Enrollment between 1000 and 1999
1,F,06-07,1,1,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,1.0,AITKIN,03,4.0,Outstate - Enrollment between 1000 and 1999
2,F,06-07,1,3,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFGHAN,60,3,27.0,HENNEPIN,11,1.0,Minneapolis and Saint Paul
3,F,06-07,1,3,MINNEAPOLIS PUBLIC SCHOOL DIST.,AFRIKAANS,1,4,27.0,HENNEPIN,11,1.0,Minneapolis and Saint Paul
4,F,06-07,1,3,MINNEAPOLIS PUBLIC SCHOOL DIST.,AMERICAN INDIAN,6,1,27.0,HENNEPIN,11,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,F,06-07,9999,99,Statewide Totals,UZBEK,96,2,NaN,NaN,NaN,NaN,NaN
3480,F,06-07,9999,99,Statewide Totals,VIETNAMESE,51,3215,NaN,NaN,NaN,NaN,NaN
3481,F,06-07,9999,99,Statewide Totals,WOLOF,94,9,NaN,NaN,NaN,NaN,NaN
3482,F,06-07,9999,99,Statewide Totals,YAO,61,3,NaN,NaN,NaN,NaN,NaN
3483,F,06-07,9999,99,Statewide Totals,YORUBA,75,257,NaN,NaN,NaN,NaN,NaN