# Project 1: Languages Spoken in the Homes of Minnesota Public School Students

## Contributors: Sam Espe, Yameena Khan, Maryam Osman, Nhan Tran (Group 7)

## Notebook 1: Data Cleaning and Exploration

### Import dependencies

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Read and clean data: read in CSVs, rename columns, drop unnecessary columns, split off yearly summary

In [3]:
primary_home_language_2007 = "data/2006-2007 Primary Home Language Totals.csv"
primary_home_language_2007_df = pd.read_csv(primary_home_language_2007)
primary_home_language_2007_rename_df = primary_home_language_2007_df.rename(columns = { "dat_yer" : "School Year", "district" : "District Name", "language" : "Language Name", "homprm_lng": "Home Primary Language", "k12count" : "Student Count" , "county" : "County Name", "stratanum" : "Strata Number", "strata" : "Strata Name"})
primary_home_language_2007_summary_df  = primary_home_language_2007_rename_df.drop(columns = ["sub_cde","dst_num","dst_tye","d_county","eco_dev"])
#primary_home_language_2007_summary_df

In [4]:
primary_home_language_2007_final_df = primary_home_language_2007_summary_df[~primary_home_language_2007_summary_df["Strata Number"].isna()]
#primary_home_language_2007_final_df

In [5]:
language_summary_2007_df = primary_home_language_2007_summary_df[primary_home_language_2007_summary_df["Strata Number"].isna()]
language_summary_2007_final_df = language_summary_2007_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2007_final_df

In [6]:
primary_home_language_2008 = "data/2007-2008 Primary Home Language Totals.csv"
primary_home_language_2008_df = pd.read_csv(primary_home_language_2008)
primary_home_language_2008_rename_df = primary_home_language_2008_df.rename(columns = { "fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "strata" : "Strata Number", "startaName" : "Strata Name"})
primary_home_language_2008_summary_df = primary_home_language_2008_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})

In [7]:
primary_home_language_2008_final_df = primary_home_language_2008_summary_df[~primary_home_language_2008_summary_df["Strata Number"].isna()]
#primary_home_language_2008_final_df

In [8]:
language_summary_2008_df = primary_home_language_2008_summary_df[primary_home_language_2008_summary_df["Strata Number"].isna()]
language_summary_2008_final_df = language_summary_2008_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2008_final_df

In [9]:
primary_home_language_2009 = "data/2008-2009 Primary Home Language Totals.csv"
primary_home_language_2009_df = pd.read_csv(primary_home_language_2009)
primary_home_language_2009_rename_df = primary_home_language_2009_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "county" : "County", "CountyName": "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2009_summary_df = primary_home_language_2009_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2009_summary_df

In [10]:
primary_home_language_2009_final_df = primary_home_language_2009_summary_df[~primary_home_language_2009_summary_df['Strata Number'].isnull()]
primary_home_language_2009_final_df

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,08-09,AITKIN PUBLIC SCHOOL DISTRICT,ENGLISH,11,1263,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
1,08-09,AITKIN PUBLIC SCHOOL DISTRICT,SPANISH,45,2,Aitkin,4.0,Outstate - Enrollment between 1000 and 1999
2,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,HMONG,20,1785,Hennepin,1.0,Minneapolis and Saint Paul
3,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,TIGRINYA,71,2,Hennepin,1.0,Minneapolis and Saint Paul
4,08-09,MINNEAPOLIS PUBLIC SCHOOL DIST.,SLAVONIAN,44,1,Hennepin,1.0,Minneapolis and Saint Paul
...,...,...,...,...,...,...,...,...
3506,08-09,NORTHLAND LEARNING CENTER,ENGLISH,11,110,St. Louis,6.0,Outstate - Enrollment less than 500
3507,08-09,RUM RIVER SPECIAL EDUCATION COOP,ENGLISH,11,55,Isanti,6.0,Outstate - Enrollment less than 500
3508,08-09,BENTON-STEARNS ED. DISTRICT,ENGLISH,11,35,Stearns,6.0,Outstate - Enrollment less than 500
3509,08-09,BENTON-STEARNS ED. DISTRICT,HMONG,20,1,Stearns,6.0,Outstate - Enrollment less than 500
3510,08-09,MID STATE EDUCATION DISTRICT,ENGLISH,11,34,Morrison,6.0,Outstate - Enrollment less than 500

In [11]:
language_summary_2009_df = primary_home_language_2009_summary_df[primary_home_language_2009_summary_df["Strata Number"].isna()]
language_summary_2009_final_df = language_summary_2009_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2009_final_df

In [12]:
primary_home_language_2010 = "data/2009-2010 Primary Home Language Totals.csv"
primary_home_language_2010_df = pd.read_csv(primary_home_language_2010)
primary_home_language_2010_rename_df = primary_home_language_2010_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName" : "County Name", "startaName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2010_summary_df = primary_home_language_2010_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2010_summary_df

In [13]:
primary_home_language_2010_final_df = primary_home_language_2010_summary_df[~primary_home_language_2010_summary_df["Strata Number"].isna()]
#primary_home_language_2010_final_df

In [14]:
language_summary_2010_df = primary_home_language_2010_summary_df[primary_home_language_2010_summary_df["Strata Number"].isna()]
language_summary_2010_final_df = language_summary_2010_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2010_final_df

In [15]:
primary_home_language_2011 = "data/2010_2011 Primary Home Language Totals.csv"
primary_home_language_2011_df = pd.read_csv(primary_home_language_2011)
primary_home_language_2011_rename_df = primary_home_language_2011_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2011_summary_df = primary_home_language_2011_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2011_summary_df

In [16]:
primary_home_language_2011_final_df = primary_home_language_2011_summary_df[~primary_home_language_2011_summary_df["Strata Number"].isna()]
#primary_home_language_2011_final_df

In [17]:
language_summary_2011_df = primary_home_language_2011_summary_df[primary_home_language_2011_summary_df["Strata Number"].isna()]
language_summary_2011_final_df = language_summary_2011_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop = True).dropna()
#language_summary_2011_final_df

In [18]:
primary_home_language_2012 = "data/2011-2012 Primary Home Language Totals.csv"
primary_home_language_2012_df = pd.read_csv(primary_home_language_2012)
primary_home_language_2012_rename_df = primary_home_language_2012_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name","homePrimaryLanguage": "Home Primary Language", "enrollments" : "Student Count" , "CountyName": "County Name", "strataName" : "Strata Name", "strata" : "Strata Number"})
primary_home_language_2012_summary_df = primary_home_language_2012_rename_df.drop(columns = {"districtNumber", "districtType", "eco_dev_rgn", "countyCode"})
#primary_home_language_2012_summary_df

In [19]:
primary_home_language_2012_final_df = primary_home_language_2012_summary_df[~primary_home_language_2012_summary_df["Strata Number"].isna()]
#primary_home_language_2012_final_df

In [20]:
language_summary_2012_df = primary_home_language_2012_summary_df[primary_home_language_2012_summary_df["Strata Number"].isna()]
language_summary_2012_final_df = language_summary_2012_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2012_final_df

In [21]:
primary_home_language_2013 = "data/2012-13 Primary Home Language Totals.csv"
primary_home_language_2013_df = pd.read_csv(primary_home_language_2013)
primary_home_language_2013_rename_df = primary_home_language_2013_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2013_summary_df =  primary_home_language_2013_rename_df.drop(columns  = {"District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2013_summary_df

In [22]:
primary_home_language_2013_final_df = primary_home_language_2013_summary_df[~primary_home_language_2013_summary_df["Strata Number"].isna()]
#primary_home_language_2013_final_df

In [23]:
language_summary_2013_df = primary_home_language_2013_summary_df[primary_home_language_2013_summary_df["Strata Number"].isna()]
language_summary_2013_final_df = language_summary_2013_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2013_final_df

In [24]:
primary_home_language_2014 = "data/2013-2014 Primary Home Language Totals.csv"
primary_home_language_2014_df = pd.read_csv(primary_home_language_2014)
primary_home_language_2014_rename_df = primary_home_language_2014_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2014_summary_df = primary_home_language_2014_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2014_summary_df

In [25]:
primary_home_language_2014_final_df = primary_home_language_2014_summary_df[~primary_home_language_2014_summary_df["Strata Number"].isna()]
#primary_home_language_2014_final_df

In [26]:
language_summary_2014_df = primary_home_language_2014_summary_df[primary_home_language_2014_summary_df["Strata Number"].isna()]
language_summary_2014_final_df = language_summary_2014_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2014_final_df

In [27]:
primary_home_language_2015 = "data/2014-2015 Primary Home Language Totals.csv"
primary_home_language_2015_df = pd.read_csv(primary_home_language_2015)
primary_home_language_2015_rename_df = primary_home_language_2015_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2015_summary_df = primary_home_language_2015_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2015_summary_df

In [28]:
primary_home_language_2015_final_df = primary_home_language_2015_summary_df[~primary_home_language_2015_summary_df["Strata Number"].isna()]
#primary_home_language_2015_final_df

In [29]:
language_summary_2015_df = primary_home_language_2015_summary_df[primary_home_language_2015_summary_df["Strata Number"].isna()]
language_summary_2015_final_df = language_summary_2015_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2015_final_df

In [30]:
primary_home_language_2016 = "data/2015-2016 Primary Home Language Totals.csv"
primary_home_language_2016_df = pd.read_csv(primary_home_language_2016)
primary_home_language_2016_rename_df = primary_home_language_2016_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2016_summary_df = primary_home_language_2016_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2016_summary_df

In [31]:
primary_home_language_2016_final_df = primary_home_language_2016_summary_df[~primary_home_language_2016_summary_df["Strata Number"].isna()]
#primary_home_language_2016_final_df

In [32]:
language_summary_2016_df = primary_home_language_2016_summary_df[primary_home_language_2016_summary_df["Strata Number"].isna()]
language_summary_2016_final_df = language_summary_2016_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2016_final_df

In [33]:
primary_home_language_2017 = "data/2016-2017 Primary Home Language Totals.csv"
primary_home_language_2017_df = pd.read_csv(primary_home_language_2017)
primary_home_language_2017_rename_df = primary_home_language_2017_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2017_summary_df = primary_home_language_2017_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2017_summary_df

In [34]:
primary_home_language_2017_final_df = primary_home_language_2017_summary_df[~primary_home_language_2017_summary_df["Strata Number"].isna()]
#primary_home_language_2017_final_df

In [35]:
language_summary_2017_df = primary_home_language_2017_summary_df[primary_home_language_2017_summary_df["Strata Number"].isna()]
language_summary_2017_final_df = language_summary_2017_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2017_final_df

In [36]:
primary_home_language_2018 = "data/2017-18 Primary Home Language Totals.csv"
primary_home_language_2018_df = pd.read_csv(primary_home_language_2018)
primary_home_language_2018_rename_df = primary_home_language_2018_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2018_summary_df =  primary_home_language_2018_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2018_summary_df

In [37]:
primary_home_language_2018_final_df = primary_home_language_2018_summary_df[~primary_home_language_2018_summary_df["Strata Number"].isna()]
#primary_home_language_2018_final_df

In [38]:
language_summary_2018_df = primary_home_language_2018_summary_df[primary_home_language_2018_summary_df["Strata Number"].isna()]
language_summary_2018_final_df = language_summary_2018_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2018_final_df

In [39]:
primary_home_language_2019 = "data/2018-19 Primary Home Language Totals.csv"
primary_home_language_2019_df = pd.read_csv(primary_home_language_2019)
primary_home_language_2019_rename_df = primary_home_language_2019_df.rename(columns = {"fiscalYear" : "School Year", "districtName" : "District Name", "languageName" : "Language Name", "homePrimaryLanguage" : "Home Primary Language", "enrollments" : "Student Count", "Country Name" : "Country Name", "strata" : "Strata Number", "strataName" : "Strata Name"})
primary_home_language_2019_summary_df = primary_home_language_2019_rename_df.drop(columns = {"submissionCode", "districtType", "districtNumber", "countyCode", "CountyName", "eco_dev_rgn"})
#primary_home_language_2019_summary_df

In [40]:
primary_home_language_2019_final_df = primary_home_language_2019_summary_df[~primary_home_language_2019_summary_df["Strata Number"].isna()]
#primary_home_language_2019_final_df

In [41]:
language_summary_2019_df = primary_home_language_2019_summary_df[primary_home_language_2019_summary_df["Strata Number"].isna()]
language_summary_2019_final_df = language_summary_2019_df.drop(columns = {"Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2019_final_df

In [42]:
primary_home_language_2020 = "data/2019-20 Primary Home Language Totals.csv"
primary_home_language_2020_df = pd.read_csv(primary_home_language_2020)
primary_home_language_2020_rename_df = primary_home_language_2020_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2020_summary_df =  primary_home_language_2020_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2020_summary_df

In [43]:
primary_home_language_2020_final_df = primary_home_language_2020_summary_df[~primary_home_language_2020_summary_df["Strata Number"].isna()]
#primary_home_language_2020_final_df

In [44]:
language_summary_2020_df = primary_home_language_2020_summary_df[primary_home_language_2020_summary_df["Strata Number"].isna()]
language_summary_2020_final_df = language_summary_2020_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2020_final_df

In [45]:
primary_home_language_2021 = "data/2020-21 Primary Home Language Totals.csv"
primary_home_language_2021_df = pd.read_csv(primary_home_language_2021)
primary_home_language_2021_rename_df = primary_home_language_2021_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2021_summary_df =  primary_home_language_2021_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2021_summary_df

In [46]:
primary_home_language_2021_final_df = primary_home_language_2021_summary_df[~primary_home_language_2021_summary_df["Strata Number"].isna()]
#primary_home_language_2021_final_df

In [47]:
language_summary_2021_df = primary_home_language_2021_summary_df[primary_home_language_2021_summary_df["Strata Number"].isna()]
language_summary_2021_final_df = language_summary_2021_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2021_final_df

In [48]:
primary_home_language_2022 = "data/2021-22 Primary Home Language Totals.csv"
primary_home_language_2022_df = pd.read_csv(primary_home_language_2022)
primary_home_language_2022_rename_df = primary_home_language_2022_df.rename(columns = {"Fiscal Year" : "School Year", "Strata" : "Strata Number", "Enrollments" : "Student Count"})
primary_home_language_2022_summary_df =  primary_home_language_2022_rename_df.drop(columns  = {"Submission Code", "District Number","District Type", "County Code", "Economic Development Region"})
#primary_home_language_2022_summary_df

In [49]:
primary_home_language_2022_final_df = primary_home_language_2022_summary_df[~primary_home_language_2022_summary_df["Strata Number"].isna()]
#primary_home_language_2022_final_df

In [50]:
language_summary_2022_df = primary_home_language_2022_summary_df[primary_home_language_2022_summary_df["Strata Number"].isna()]
language_summary_2022_final_df = language_summary_2022_df.drop(columns = {"County Name", "Strata Number", "Strata Name"}).reset_index(drop=True).dropna()
#language_summary_2022_final_df

### Merge yearly dataframes

In [51]:
complete_primary_home_language = pd.concat([primary_home_language_2007_final_df, primary_home_language_2008_final_df, primary_home_language_2009_final_df, primary_home_language_2010_final_df, primary_home_language_2011_final_df, primary_home_language_2012_final_df, primary_home_language_2013_final_df, primary_home_language_2014_final_df, primary_home_language_2015_final_df, primary_home_language_2016_final_df, primary_home_language_2017_final_df, primary_home_language_2018_final_df, primary_home_language_2019_final_df, primary_home_language_2020_final_df, primary_home_language_2021_final_df, primary_home_language_2022_final_df]).reset_index(drop = True)

complete_primary_home_language.isna()

,School Year,District Name,Language Name,Home Primary Language,Student Count,County Name,Strata Number,Strata Name
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
72563,False,False,False,False,False,False,False,False
72564,False,False,False,False,False,False,False,False
72565,False,False,False,False,False,False,False,False
72566,False,False,False,False,False,False,False,False
72567,False,False,False,False,False,False,False,False

### Merge summary dataframes

In [84]:
complete_language_summary = pd.concat([language_summary_2007_final_df, language_summary_2008_final_df, language_summary_2009_final_df, language_summary_2010_final_df, language_summary_2011_final_df, language_summary_2012_final_df, language_summary_2013_final_df, language_summary_2014_final_df, language_summary_2015_final_df, language_summary_2016_final_df, language_summary_2017_final_df, language_summary_2018_final_df, language_summary_2019_final_df, language_summary_2020_final_df, language_summary_2021_final_df, language_summary_2022_final_df]).reset_index(drop = True)

complete_language_summary

,School Year,District Name,Language Name,Home Primary Language,Student Count
0,06-07,Statewide Totals,ADANGME,83.0,121.0
1,06-07,Statewide Totals,AFGHAN,60.0,21.0
2,06-07,Statewide Totals,AFRIKAANS,1.0,525.0
3,06-07,Statewide Totals,ALBANIAN,72.0,42.0
4,06-07,Statewide Totals,AMERICAN INDIAN,6.0,27.0
...,...,...,...,...,...
3475,21-22,STATEWIDE,Apache,436.0,2.0
3476,21-22,STATEWIDE,Jakalteko,442.0,2.0
3477,21-22,STATEWIDE,Dagari,443.0,1.0
3478,21-22,STATEWIDE,Chukeese,444.0,1.0
3479,21-22,STATEWIDE,Eleme,447.0,1.0

## Data Reduction and Analysis

# *Yameena's Code Starts Here!*

### Unique Languages by Year

### Distribution of Languages by Year

# *Maryam's Code Starts Here!*

### Distribution of Languages by Geography

# *Sam's Code Starts Here!*

### Graphs of Languages Over Time

### Map of distribution of Languages?????

# *Nhan's Code Starts Here!*

### Linear Regression to Predict Proportion of Households that Speak Non-English Languages